#lasagna.title {
    font-size: 80px;
    font-family: Verdana, sans-serif;
    font-weight: 1000;
    background-color: rgb(250, 225, 86);
    border: 10px inset grey;
    margin: 20px 0px;
}

#ham-sandwich.title {
    font-size: 80px;
    font-family: Verdana, sans-serif;
    font-weight: 1000;
    background-color: rgb(236, 179, 241);
    border: 10px inset grey;
    margin: 20px 0px;
}

#tomato-soup.title {
    font-size: 80px;
    font-family: Verdana, sans-serif;
    font-weight: 1000;
    background-color: rgb(250, 86, 86);
    border: 10px inset grey;
    margin: 20px 0px;
}

.title.sub-title {
    font-size: 50px;
    font-family: Verdana, sans-serif;
    font-weight: 1000;
    background-color: rgb(184, 182, 182);
    border: 7.5px inset grey;
    margin: 50px 0px 20px 0px;
}

.content {
    font-size: 25px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
}

.body {
    background-color: rgb(209, 209, 207);
}

#lasagna-img {
    height: auto;
    width: 800px;
}

#ham-sandwich-img {
    height: auto;
    width: 800px;
}

#tomato-soup-img {
    height: auto;
    width: 800px;
}